.maincolor {
    background-color:lightsteelblue;
}
.todo-item{
    background-color:pink;
    border-radius: 5px;
    display:flex;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#todos_panel{
    padding-bottom: 20px;

}
.content-area{
    padding: 10px;
}
.animate{
    position: absolute;
    width: 100%;
  
}
.animate-todos{
    position: relative;
   
  
}